#cabecera, #extra, #footer, #subnavbar {
  display: none !important;
}

body, #main{
  float: none !important;
  width: auto !important;
  margin:  0 !important;
  padding: 0 !important;
}

body { color: #000;
       font-size:small;
       }
